/* Background image */

body {
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Title and subtitle styles */

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: semibold;
  margin-bottom: 00px;
  font-size: 34px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #030303;
}

.subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 60px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #636364;
}

/* Form styles */

.rounded-edge {
    border-radius: 15px;
}

form .btn {
  font-family: 'Poppins', sans-serif;
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  padding: 0.9rem 2.5rem;
  text-align: center;
  background-color: #47AB11;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
}

form input {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  display: block;
  padding: 0.9rem 0.7rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
  text-indent: 10px;
}

form select {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    outline: none;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    display: block;
    padding: 0.9rem 0.7rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
    text-indent: 10px;
}

.container {
     width: 80%;
     padding-right: 100px;
     padding-left: 40px;
     text-align: left;
     margin-left: 90px;
     margin-right: 200px;
     margin-top: 00px;
     margin-bottom: 50px;
        }

/* Label styles */

.left-align-label {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

/* Font styles of predicted value */

#prediction {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}